# Ambientes virtuais
.venv/
env/
ENV/

# Cache e compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações de IDEs
.idea/
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de log e backup
*.log
*.zip
*.rar
*.tar.gz
*.bak
